<div class=" container">
  <div class="row justify-content-center" >
    <div class=" col-md-12 ">



      <div class=" col align-self-center ">
        <div class="col-md-6 mx-auto">

          <!--Section: Live preview-->
          <section class="form-dark">

            <!--Form without header-->
            <div class="card card-image">
              <div class="text-white  rgba-stylish-strong py-5 px-5 z-depth-4 ">

                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text mb-5 mt-4 font-weight-bold">
                    <strong>Journalist</strong>
                    <a class="green-text font-weight-bold">
                      <strong>Login</strong>
                    </a>
                  </h3>
                </div>

                <!--Body-->
                <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" class="form-control" formControlName="email" placeholder="Email"
                        [(ngModel)]="journalist.email" id="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" class="form-control" formControlName="password" placeholder="password"
                        [(ngModel)]="journalist.password" id="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>

                      </div>
                    </div>
                  </div>

                </form>

                <!--Grid row-->
                <div class="row d-flex align-items-center mb-4">

                  <!--Grid column-->
                  <div class="text-center mb-3 col-md-12">
                    <button type="button" mdbBtn color="success" block="true" rounded="true"
                      class="z-depth-1 waves-light" (click)="signin()" mdbWavesEffect>Sign in</button>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid column-->
               
                <!--Grid column-->

              </div>
            </div>
            <!--/Form without header-->
          </section>
          <!--Section: Live preview-->
        </div>
      </div>


    </div>
  </div>
</div>
