<app-menu-mod> </app-menu-mod>


<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">

    </div>
  </div>

  <!-- Basic example -->
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">


      <mdb-card>

        <mdb-card-header class="cloudy-knoxville-gradient grey-text text-center py-4">
          <h5>
            <strong>Add New Article:</strong>
          </h5>
        </mdb-card-header>
        <mdb-card-body class="px-lg-5 pt-0">

          <form #f="ngForm">

            <div class="md-form mt-3">
              <!--
                          <input type="text" id="titre" class="form-control"  mdbInput >
              -->

              <input type="text" id="titre" class="form-control" name="titre"   #titre mdbInput>


              <label for="titre">Titre</label>
            </div>



            <div class="form-group row">
              <!-- Material input -->
              <label for="pays" class="col-sm-2 col-form-label">Country </label>
              <div class="col-sm-4">
                <div class="md-form mt-0">
                  <select class="browser-default custom-select"name="pays"  #pays name="pays"
                          id="pays" [(ngModel)]="countrys">
                    <option *ngFor="let c of countrys" [ngValue]="c">{{c.label}}</option>
<!--                    <option> fqdfq</option>-->

                  </select>

                </div>
              </div>

              <label for="tags" class="col-sm-2 col-form-label">Tags </label>
              <div class="col-sm-4">
                <div class="md-form mt-0">
                  <select class="browser-default custom-select"name="tags"  #tags name="tags"
                          id="tags">
                    <!-- <option> aaaa</option>
                    <option> fqdfq</option> -->

                  </select>

                </div>
              </div>
<label for="categorie" class="col-sm-2 col-form-label">categorie </label>

              <div class="col-sm-4">
                <div class="md-form mt-0">
                  <select class="browser-default custom-select" name="categorie" #categorie name="categorie"
                          id="categorie">


                    <option  *ngFor="let categ of cats" [value]="categ.id" >{{categ.cat_texts.name |uppercase}}</option>
                    <option> finance</option>
                    <option> lifestyle</option>
                    <option> Entreprise</option>
                  </select>

                </div>

</div>
<!-- <label class="col-sm-8 col-form-label">language </label>
<div class="col-sm-4">
  <div class="md-form mt-0">
    <select class="browser-default custom-select" [(ngModel)]="article.content.languageArticle"
      name="languages" #languages id="languages">
      <option *ngFor="let lang of languagess " [ngValue]="lang.id">{{lang.name}}</option>
    </select>               ​
  </div>
</div> -->

            </div>

            <div class="row">
              <div class="col-md-6 mx-auto mt-5">
                <mdb-date-picker name="mydate" [placeholder]="'Selected date'" [(ngModel)]="model" required></mdb-date-picker>
              </div>
            </div>          

            <div id="quill">
              <h2>Redact article</h2>
              <quill-editor [(ngModel)]="editorContent"
                            [(ngModeloptions]="editorOptions" [ngModelOptions]="{standalone: true}"
                            (blur)="onEditorBlured($event)"
                            (focus)="onEditorFocused($event)"
                            (ready)="onEditorCreated($event)"
                            (change)="onContentChanged($event)"></quill-editor>
              <!-- {{editorContent}} -->
            </div>
          

          </form>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>




