<app-menu-mod> </app-menu-mod>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <!-- <h2 class="text-center">Baobab Posts</h2> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5 px-2">
      <h4 class="text-left">Add New Category</h4>
      <form (ngSubmit)="addCategory()">



        <div class="md-form">
          <div class="col-md-4">
            <input mdbInputDirective type="text" id="form1" class="form-control">
            <label for="form1">Category label</label>
          </div>

          <div class="col-sm-4">
            <div class="md-form mt-0">
              <fieldset class="form-group">
              <select class="browser-default custom-select" [(ngModel)]="category?.cat_texts.language" name="languages"
                id="categories" #languages required>
                <option *ngFor="let lang of languagess" [ngValue]="[lang.id]">{{lang.name}}</option>
              </select>​
            </fieldset>
            </div>
          </div>
          <div class="row"> 
            <button mdbbtn type="submit" class="btn btn-outline-success btn-rounded waves-effect button-sub">
              <i class="far fa-paper-plane" aria-hidden="true"></i>Add 
            </button>
          </div>
        </div>


      </form>
    </div>
    <div class="col-md-12 mx-auto text-center mt-5">
      <!-- Editable table -->
      <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Categories list:</h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
              <a class="text-success" (click)="add()">
                <mdb-icon icon="plus" size="2x"></mdb-icon>
              </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <tr>
                <th class="text-center">id</th>
                <th class="text-center">name</th>
                <th class="text-center">Is Active</th>
                <th class="text-center">Created_at</th>
                <!-- <th class="text-center">City</th>
                  <th class="text-center">Sort</th>  -->
                <th class="text-center">Remove</th>
              </tr>
              <tr *ngFor="let data of search(); let i = index">
                <td contenteditable="true" (keyup)="changeValue(id, 'id', $event)">{{data.id}}</td>
                <div style="margin: auto; " *ngFor="let cat of data.cat_texts ">
                  <td class="col-ctr" contenteditable="true" (keyup)="changeValue(id, 'name', $event)">{{cat.name}}</td>
                </div>
                <td contenteditable="true" (keyup)="changeValue(id, 'is_active', $event)">{{data.is_active}}</td>
                <td contenteditable="false" (keyup)="changeValue(id, 'created_at', $event)">{{data.created_at |date}}
                </td>

                <!--<td contenteditable="true" (keyup)="changeValue(id, 'country', $event)">{{person.country}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'city', $event)">{{person.city}}</td> -->

                <td>
                  <span class="table-remove">
                    <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="remove(id)">Remove</button>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>