<app-menu-j> </app-menu-j>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <!-- <h2 class="text-center">Baobab Posts</h2> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5 px-2">
      <h4 class="text-left">Add New Category</h4>
      <div class="md-form">
        <input mdbInputDirective type="text" id="form1" class="form-control">
        <label for="form1">Category label</label>
        <input type="submit" id="submit-category"  style="width: 200px;">
      </div>
    </div>
      <div class="col-md-12 mx-auto text-center mt-5 vl">
        <h4 class="text-center">Basic example</h4>
        <!-- Editable table -->
        <div class="card">
          <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
          <div class="card-body">
            <div id="table" class="table-editable">
              <span class="table-add float-right mb-3 mr-2">
                <a class="text-success" (click)="add()">
                  <mdb-icon icon="plus" size="2x"></mdb-icon>
                </a>
              </span>
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center">id</th>
                  <th class="text-center">name</th>
                  <!-- <th class="text-center">Company Name</th>
                  <th class="text-center">Country</th>
                  <th class="text-center">City</th>
                  <th class="text-center">Sort</th> -->
                  <th class="text-center">Remove</th>
                </tr>
                <tr *ngFor="let data of search(); let id = index">
                  <td contenteditable="true" (keyup)="changeValue(id, 'id', $event)">{{data.id}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'name', $event)">{{data.name}}</td>
                  <!-- <td contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)">{{person.companyName}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'country', $event)">{{person.country}}</td>
                  <td contenteditable="true" (keyup)="changeValue(id, 'city', $event)">{{person.city}}</td> -->
               
                  <td>
                    <span class="table-remove">
                      <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Editable table -->
    <!-- Basic example -->
  
    <!-- <hr class="my-5"> -->
  </div>
  </div>    
  </div>

